$home_element_wallpaper_light : #fff;
$home_element_wallpaper_dark : #333;

$home_layer_background_light : rgba(255, 255, 255, 0.5);
$home_layer_background_dark : rgba(43, 43, 43, 0.5);

$home_light_color: rgba(244, 244, 244, 0.8);