
#home-component {
  background-image: url("/goldticket/img/components/home/discover-wallpaper.jpg");
  height: 40em; }

.dark-layer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  color: white; }
