@import '../config_path';
@import '../colors';

.element-wallpaper-light {
  background: url('https://dcnwa2u2yx5ek.cloudfront.net/zengularity/87afedb39f8144613845b56635445313e41c20ff.jpg') $home_element_wallpaper_light no-repeat left top;
}

.element-wallpaper-dark {
  background: url('https://dcnwa2u2yx5ek.cloudfront.net/zengularity/795de399675cd47511a63482f8a0f264640be3c9.jpg') $home_element_wallpaper_dark no-repeat right center;
}

.discover-wallpaper {
  background-image: url($root-img + "/components/home/discover-wallpaper.jpg")
}

.light-layer {
  background-color: $home_layer_background_light;
  color: black;
}

.dark-layer {
  background-color: $home_layer_background_dark;
  color: white;
}

.home-element {
  height: 35em;

  .layer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    //home header
    .main-block {
      color: $home_light_color;
      text-align: center;
      width: 100%;
      flex: 1;

      .main-title {
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .main-action {
        .flat-btn {
          border: 3px solid $home_light_color;
          font-weight: bold;
          color: $home_light_color;
          padding: 0.3em 1em;
          text-decoration: none;
        }
      }
    }

    //home element
    .img-block {
      flex: 1;

      > img {
        height: 20em;
        width: 30em;
      }
    }

    .element-block {
      flex: 1;
      height: 20em;
      width: 30em;
    }
  }
}